body{
    background-image: linear-gradient(to right, #8EC5FC, #E0C3FC);
    background-repeat: no-repeat;
    height: 100%;
}
.inputs-container{
    width: 420px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: rgba(235, 242, 238,0.2);
    border-radius: 10px;
    padding: 20px;
}
.inputs{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.inputs .input{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 17px;
}
.inputs .choose-button{
    width: 100%;
    height: 45px;
    font-size: 17px;
    outline: none;
    border: none;
    background: rgba(32, 28, 140,0.2);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.inputs .handling-button{
    width: 100%;
    height: 45px;
    font-size: 17px;
    outline: none;
    border: none;
    background: rgba(71, 17, 66,0.2);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.radio-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.download-link{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.link{
    color: #30b8ba;
    text-decoration: none;
    font-size: 19px;
}
.radio-buttons div .radio{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.error{
    display: none;
    color: red;
}
.filenames{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    font-size: 17px;
    background: white;
    overflow-x: scroll;
    white-space: nowrap;
    display: none;
    scrollbar-width: thin;
    /* scrollbar-color: #0A4C95 #C2D2E4; */
}

.filenames::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.filenames:-webkit-scrollbar-track {
    background: #f1f1f1;
}
.filenames::-webkit-scrollbar-thumb {
    background: #888;
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
} */